header {
  background: url("large.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 0px;
}
h1 {
  font-style: normal;
  font-size: 50px;
  font-family: "Niramit", sans-serif;
  color: #ffffff;
  position: relative;
  text-align: center;
  padding-top: 80px;
}
a {
  color: #ffffff;
  font-family: "Niramit", sans-serif;
  text-decoration: none;
}
h2 {
  font-style: normal;
  font-family: "Niramit", sans-serif;
  text-align: center;
}
p {
  font-style: normal;
  font-family: "Niramit", sans-serif;
}
ul {
  padding: 10px;
  background: rgba(0,0,0,.6);
}
li {
  display: inline;
  padding: 0px 65px 0px 65px;
}

.container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.container span {
    font-size: 20px;
    margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
    text-align: center;
  }

  .container img {
    margin: auto;
    float: none;
    display: block;
  }

h3 {
  font-style: normal;
  font-size: 80px;
  font-family: "Niramit", sans-serif;
  text-align: center;
}
#other {
  background: rgba(0,0,0,.6)
  font-family: "Niramit", sans-serif;
  font-size: 20px;
}
