html {
    background: url("Map of zone 1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  header {
    background: url("large.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 20px;
  }
  h1 {
      padding-top: 80px;
      text-align: center;
      color: white;
      font-style: normal;
      font-size: 50px;
      font-family: "Niramit", sans-serif;
  }
  a {
    color: #ffffff;
    font-family: "Niramit", sans-serif;
    text-decoration: none;
  }
  h3 {
    font-style: italic;
  }
  p {
    font-size: 30px;
  }



  <a href="https://commons.wikimedia.org/w/index.php?curid=6437025">Link</a>
