.jumbotron {
  margin-bottom: 0px;
  background: url("assets/banner.jpg");
  height: 230px;
  background-size: cover;
  background-position: center;
  max-width: 100%;
}
.button {
  border:none;
   background-color:transperant;
   outline:none;
}
.navbar-text {
  padding-right: 50px;
  font-size: 20px;
  color: #2f434a;
}
.collapse_target {
  align: right;
}
h1 {
  font-style: normal;
  font-size: 30px;
  font-family: "Niramit", sans-serif;
  color: #2f434a;
  position: relative;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.container {
  margin-bottom: 60px;
}
.btn-twitter {
  background: #00acee;
  border-color: #009ad5;
  margin: 10px 10px 40px 10px;
}
.btn-facebook {
  background: #4868ac;
  border-color: #314776;
  margin: 10px 10px 40px 10px;
}
.btn-pinterest {
  background: #b62f26;
  border-color: #b62f26;
  margin: 10px 10px 40px 10px;
}
#social-buttons button {
  color: white;
  position: center;
}
.wrapper {
  text-align: center;
}
